.footer {
  position: fixed;
  left: 0;
  bottom: 6px;
  width: 100%;
  color: white;
  text-align: center;
  font-style: inherit;
  font-weight: 600;
  }
  #notify{
    color: white;
    font-size: 15px;
    padding-top: 5px;
    font-family: initial;
  }
  body{
    background-image: url("public/bg4.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
  }
  .modal-content{
    background-color: transparent !important;
    border:  none !important;
  }
  video{
    margin-left: -270px;
  }
  .container-fluid{
    height: 100vh !important;
  }
  .btn-info{
   position: absolute;
   bottom: 10%;
   left: 90%;
   color: white;
  }


  
  .container-vs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
  }
  .btn--primary {
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
  }
  .btn--primary:hover {
    background: #6c7ff2;
  }
  .btn--primary:active {
    background: #7f8ff4;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
  }

  .btn--yellow {
    background: #efce2d;
    color: #000;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
  }
  .btn--yellow:hover {
    background: #f7dc54;
  }
  .btn--yellow:active {
    background: #fae57b;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
  }

  .btn--inside {
    margin-left: -60px;
  }

  .btn--inside_r{
    margin-left: -67px;
    margin-top: -80px;
  }
  
  .form__field {
    width: 1236px;
    background: #fff;
    color: #000000;
    font: icon;
    font-size: 19px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 18px 0;
    padding-right: 70px  !important;
    padding-left: 18px  !important;
  }

  .form__field_r{
    width: 1179px;
    background: #fff;
    color: #000000;
    font: icon;
    font-size: 19px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 18px 18px;
  }


  .action-btn {
    background-color: #FF7F00;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    color: white;
    border-radius: 0.15em;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    display: block;
  }
  
  .action-btn:hover {
    background-color: #ff6600;
  }
  
  .action-btn:focus {
    outline: 0.05em dashed #ff6600; 
    outline-offset: 0.05em;
  }
  
  .action-btn::after {
    content: '';
    display: block;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    border: 0.15em solid transparent;
    border-right-color: white;
    border-radius: 50%;
    animation: button-anim 0.7s linear infinite;
    opacity: 0;
  }
  
  @keyframes button-anim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .action-btn.loading {
    color: transparent;
  }
  
  .action-btn.loading::after {
    opacity: 1;
  }
  
/* News CSS */
#divNews{
  height: 500px;
  border: 1px solid #38556A;
  border-radius: 10px;
  padding: 11px;
  overflow: auto;
}

.thumbNew{
  height: 60px;
  width: 60px;
  border-radius: 4px;
}

.li-new-item{
  list-style-type: none;
  border: #4C6983 2px solid;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #1f3a5296;
}
.li-new-item a{
  text-decoration: none;
}

ul{
  padding: 0;
}

.title-new{
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;
  max-height: 81px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: SFD-Bold;
  font-weight: normal;
  color: rgb(255, 255, 255);
      padding: 3px 0;
}

.title-new:hover{
  color: rgb(140, 241, 221);
}

.genk-tag{
  font-size: 13px;
  background-color: #222222;
  padding: 0px 5px;
  border-radius: 4px;
}

.cafebiz-tag{
  color: #C80000;
  font-size: 13px;
  background-color: #E3E3E3;
  padding: 0px 8px;
  border-radius: 4px;
}

.kenh14-tag{
  font-size: 13px;
  background-color: #F18B1E;
  padding: 0px;
  padding: 0px 9px;
  border-radius: 4px;
}

.kenh14-lg{
  height: 20px;
  width: 43px;
}
.cafebiz-lg{
  height: 20px;
  width: 44px;
}

.genk-lg{
  height: 20px;
  width: 51px;
}

/* width */
::-webkit-scrollbar {
  border-radius: 10px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b; 
}

#icon-what{
  float: right;
}

.query-his{
  padding-left: 10px;
  cursor: pointer;
  font-size: 15px;
}

.btn-his{
  background-color: transparent;
  font-size: 18px;
  width: 30px;
  height: 40px;
  border: none;
  color: #C80000;
  margin-top: 20px;
  margin-left: -10px;
}

.btn-his:hover{
  color: red;

}

.cr-green{
  color: rgb(21, 214, 3);
}

#divHisto{
  height: 500px;
  border: 1px solid #38556A;
  border-radius: 10px;
  padding: 11px;
  overflow: auto;
}

#boxCount{
  height: 50px;
  width: 310px;
  border: 1px solid #38556A;
  border-radius: 10px;
  padding: 5px;
  overflow: auto;
  color: #ffffff;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 20px;
}